@model PaginatedList<Car>
@{
    ViewData["Title"] = "Home";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table class="responsive-table highlight centered">
        <thead>
            <tr>
                <th>
                    <p>
                        <label>
                            <input type="checkbox" checked="@ViewBag.Active" class="toggleClaim" />
                            <span></span>
                        </label>
                    </p>
                </th>
                <th>  <a asp-action="Index" asp-route-sortOrder="brand">Marca</a></th>
                <th>  <a asp-action="Index" asp-route-sortOrder="model">Modelo</a></th>
                <th>  <a asp-action="Index" asp-route-sortOrder="color">Color</a></th>
                <th>  <a asp-action="Index" asp-route-sortOrder="plate">Placa</a></th>
                <th>  <a asp-action="Index" asp-route-sortOrder="city" >Ciudad Destino</a></th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <label>
                            @Html.CheckBoxFor(m => m[i].Selected, new { @class = "check", @onclick = "document.getElementById('btn').click()" })
                            <span></span>
                        </label>
                    </td>
                    <td>@Html.DisplayFor(m => m[i].Brand)</td>@Html.HiddenFor(m => m[i].Brand)
                    <td>@Html.DisplayFor(m => m[i].Model)</td>@Html.HiddenFor(m => m[i].Model)
                    <td>@Html.DisplayFor(m => m[i].Color)</td>@Html.HiddenFor(m => m[i].Color)
                    <td>@Html.DisplayFor(m => m[i].Plate)</td>@Html.HiddenFor(m => m[i].Plate)
                    <td>@Html.DisplayFor(m => m[i].City)</td>@Html.HiddenFor(m => m[i].City)
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Submit" hidden id="btn" />

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       class="waves-effect waves-light  cyan darken-1 btn @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       class="waves-effect waves-light right cyan darken-1 btn @nextDisabled">
        Siguiente
    </a>
}

@if (@TempData["CarsSelected"] != null && ((IList<Dispatch>)@TempData["CarsSelected"]).Any())
{
    <br />
    <br />
    <br />
    <hr />
    <br />
    @using (Html.BeginForm("SaveDispatches", "Home", FormMethod.Post))
    {
        <table class="responsive-table highlight centered">
            <thead>
                <tr>
                    <th>Ciudad Destino</th>
                    <th>Cantidad de Vehículos a Despachar</th>
                    <th>Número de despacho</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int total = 0;
                    @foreach (var item in ((IList<Dispatch>)@TempData["CarsSelected"]))
                    {
                        total += item.Quantity;
                        <tr>
                            <td>@Html.DisplayFor(m => item.City)</td>@Html.HiddenFor(m => item.City)
                            <td>@Html.DisplayFor(m => item.Quantity)</td>@Html.HiddenFor(m => item.Quantity)
                            <td>
                                @if (item.Id != 0)
                                {
                                    <text>Número de despacho: </text>
                                    @Html.DisplayFor(m => item.Id)
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Total</td>
                        <td>
                            @total
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <button class="btn waves-effect waves-light right" type="submit" name="action">
            Confirmar Despachos
        </button>
        <br />
        <br />
    }
}

